@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--color__primary);
  background: var(--color__background);
}

.img-background {
  filter: brightness(0) saturate(100%)
    drop-shadow(0px 1000px 0 #313131);
  transform: translateY(-1000px);
}

.img-primary {
  filter: brightness(0) saturate(100%)
    drop-shadow(0px 1000px 0 hsl(var(--color__primary)));
  transform: translateY(-1000px);
}

.space-grain {
  background-image: url("/sky.jpg");
  background-size: 110%;
  /* filter: invert(78%) sepia(86%) saturate(1517%) hue-rotate(169deg)
    brightness(111%) contrast(88%) blur(4px); */
  opacity: 0.08;
  animation: animatedBackground 100s ease infinite alternate;
}

@keyframes animatedBackground {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tile {
  position: relative;
  width: 480px;
  height: 240px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.tile__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: #888888;
  fill: #888888;
  pointer-events: none;
}

.tile__title,
.tile__description {
  position: relative;
  z-index: 1;
}

.tile--disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
